@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
body{
    background: #393e46;
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}
.title{
    font-family: Poppins;
}
#top{
    color: #f2f2f2;
}
#bottom{
    color:#1089ff;
}