@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
body{
    background: #393e46;
    font-family: Poppins;
}
#soon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}
#top{
    color: #f2f2f2;
    font-weight: 200;
}
#name{
    font-weight: bold;
    color: #1089ff;
}
#developedby{
    justify-content: center;
    display: flex;     /* Create the flex container */
    align-items: flex-end;  /* Align text to the bottom */
    height: 200px;
}
p{
    color: #5c636e;
}
a{
    color: #5c636e;
    text-decoration: none;
    font-weight: bold;
}
